body {
  margin: 0;
  padding: 0;
  color: white;
  font-family: monospace;
}

#canvas-uuid-1 {
  background:url('/images/universe.jpg')
}

#voting {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 9;
}

#fb-like-plugin  {
position: absolute;
z-index: 9;
bottom: 11px;
right: 140px;
}

#score {
  position: fixed;
  bottom: 10px;
  right: 10px;
  font-size: 40px;
  z-index: 9;
  letter-spacing: 5px;
}